.search {
    left: 540px;
    position: relative;

}

.tableCont {
    left: 462px;
    position: relative;

}

.searchButton 		{
    border: solid 1px #306952;
    background-color: #E5EDE8;
    font-style: normal;
    color: #306952;
    font-family: 'Trebuchet MS',sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    height: 25px;
    font-size: 15px;
    cursor: pointer;
}

.searchButton:hover	{
    background-color: #306952;
    color: #fff;
}

.searchInput 		{
    border: solid 1px #306952;
    background-color: #E5EDE8;
    font-style: normal;
    color: #306952;
    font-family: 'Trebuchet MS',sans-serif;
    /*text-transform: uppercase;*/
    text-decoration: none;
    text-align: center;
    padding: 3px;
    height: 25px;
    font-size: 15px;
}

.searchInput:hover 	{
    background-color: #306952;
    border-color: #306952;
    color: #fff;
}

.ref  		{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 15px;
    color: #196245;
    text-align: center;
}

.ref:hover  {
    cursor: pointer;
    color: #0B2218;
}

.text 		{
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 25px;
    color: #196245;
    text-align: center;
    cursor: default;
}

table, tr, th, td {
    border: 1px solid #fff;
    text-align: center;
    padding: 10px;
}

table 		{
    width: 400px;
    left: 300px;
    border-collapse: collapse;
    background-color: #E5EDE8;
    font-family: 'Trebuchet MS',sans-serif;
    color: #306952;
}

th 			{
    background-color: #C6CDC8;
    color: #153527;
}